body {
  font-family: Arial;
  background: linear-gradient(180deg, #111, #1e1e1e);
  color: white;
  text-align: center;
  margin: 0;
}

.card {
  width: 180px;
  background: #222;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
  display: inline-block;
  margin: 10px;
  color: white;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 8px;
}

.card:hover {
  transform: scale(1.05);
  background: #333;
}
