body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

.card {
  background: #222;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.05);
  background: #333;
}
