body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

#juegos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.juego {
  background: #222;
  padding: 10px;
  border-radius: 10px;
}

button {
  margin-bottom: 5px;
  cursor: pointer;
}
